.movie__one {
  width: 90%;
  background-color: white;
  margin: 70px;
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  color: #2c2c2c;
  box-shadow: 0 13px 27px -5px rgba(50, 59, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__one img {
  position: relative;
  max-width: 250px;
  top: 15px;
  width: 100%;
  margin: 0 30px 30px 0;
  box-shadow: 0 13px 27px -5px rgba(50, 59, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__one__title,
.movie__one__like,
.movie__one__download,
.movie__one__summary,
.movie__one__rating {
  font-weight: 300;
}

.movie__one__title {
  margin: 10px;
  font-size: 28px;
}
.movie__one__like,
.movie__one__download,
.movie__one__rating,
.movie__one__stars {
  margin: 3px 10px 10px 10px;
}

.movie__one__summary {
  margin: 30px 10px 10px 10px;
}

.backBtn {
  border-style: none;
}
